@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,100i,200,200i,300,300i&display=swap');

/* reset */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*normal line length is 30 * em*/

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #ee7b6d; /* turquoise for reference #32a2a8*?
	font-size: 16px; /*1em = 16px*/
	font-weight: 200;
	position: relative;
}

header {
	background-color: #FFED74
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E
	border: 1px black solid;
	padding: 20px;
}
div, section {
	background-color: #FFE2B8
	border: 1px black solid;
	padding: 20px;
}