/* reset */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,100i,200,200i,300,300i&display=swap');

/*normal line length is 30 * em*/

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #32a2a8;
	font-size: 16px; /*1em = 16px*/
	font-weight: 100;
	position: relative;
}

header {
	padding: 0 20px;
	text-align: center;
}	

nav{
	margin:auto;
}

#slogan{
	font: 'Work Sans Thin', sans-serif;
	font-size: 2em;
	text-align: center;
	padding-bottom: 40px;
}

#lander{
	background: url(../images/sl-carne.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding: 0;
	margin-top: 20px;
}

.boxheader{
	margin-left: 128px;
    margin-bottom: 60px !important;
    border: solid 2px #000;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.navlinks{
	text-transform: lowercase;
	font-weight: 100;
	padding: 20px;

/*	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;*/

    margin-bottom: 20px;
    border:none;
}

.team{
column-count: 5;
column-width: 160px;
font: 'Work Sans Extra Light', sans-serif;
font-weight: 100;
margin-left: 128px;
padding: 0;
}

section {
	padding: 20px 0;
}

img a {
	width: 100%;
	padding: 0;
}

main{
	padding: 50px 0;
}

section{
	padding: 50px 0;
}

ul, ol {
	padding: 20px;
	font-size: 1em;
	margin-bottom: 20px;
	color: black;
	font: 'Work Sans Extra Light' thin, sans-serif;
	font-weight: 100;
}

footer {
	background-color: gray;
	font: 'Work Sans Light', sans-serif;
	font color: white;
	font-weight: 200
	padding: 20px;
	text-align: center;
	margin: 0;
}

title {
	margin-bottom: 20px;
	font-size: 1em;
	font: 'Work Sans Extra Light' thin, sans-serif;
	font-weight: 100;
	text-align: center;
}


h1, h2, h3, h4, h5, h6, p{
	font: 'Work Sans Extra Light', sans-serif;
	font-weight: 100;
}


h1 {
	color:black;
	font-size: 3em;
	padding-top: 50px;
	padding-bottom: 20px;
	font-weight: 100;
	text-align: center;
}

h2 {
	font-size: 3em;
	margin-bottom: 0px;
}

h3 {
	font-size: 2.5em;
	margin-bottom: 5px;
	line-height: 1em;
}

h4 {
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 40px;
}
h6 {
	font-size:1em;
	line-height: 1.5em;
	font: 'Work Sans Extra Light', sans-serif;
	font-weight: 100;
	width: 160px;
}

p {
	font-size:1em;
	line-height: 1.5em;
	font: 'Work Sans Extra Light', sans-serif;
	font-weight: 100;
	margin: 0 0 20px 128px;
	width: 500px;
}

.aside {
object-position: top; left: 
}


